.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper > button {
  margin-top: 1rem;
  padding: .5rem;
  width: 10rem;
}

.inputDefault {
  all: unset;
  padding: .5rem;
  border: 1px solid grey;
  border-radius: .3rem;
  text-align: center;
}

.inputError {
  border: 1px solid red;
}